@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


html,
body {
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}