/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* ANIMATIONS */


.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* END ANIMATIONS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(15, 15, 15, 1) 38%, rgb(7, 116, 138) 100%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    margin: auto;
    width: 90vw;
}


/* HEADER */

header{
    height: 100vh;
}

h1{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    text-shadow: 4px 5px 4px #800e13;
    cursor: pointer;
    font-weight: bold;
    color: #fafafa;
    font-size: 30px;
}

.pages {
    display: flex;
    margin: 40px auto 0 auto;
    justify-content: space-between;
    font-size: 15px;
    width: 90%;
}

.social-media {
    display: flex;
    margin: 30px auto 0 auto;
    justify-content: space-between;
    width: 50%;
    font-size: 23px;

}

a {
    font-weight: bold;
    color: #59a9ff;
    text-decoration: none;
}


/* slider */

.container-slider {
    height: 50%;
    border-radius: 15px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px !important;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(5, 4, 4, 1), 0 10px 80px;
}

/* limita el tamaño de las imagenes
el porcentaje del ancho es proporcional a la
cantidad de imagenes que deseamos utilizar.
display flex para ponerlas una al lado de la otra */
.slider {
    display: flex;
    height: 550px;
    width: 400%;
    margin-left: -100%;

}

.slider-section {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end slider */

/* END HEADER */

/* MAIN */
main{
    color: #fafafa;
    min-height:100vh;
}

h2 {
    color: #fafafa;
}

#nosotros {
    padding-top:13px;
}

#nosotros p {
    padding-top: 7px;
    font-size:14px;
    line-height: 20px;
}
/* END MAIN */



/* CONTACT FORM */
#contacto{
    min-height: 100vh;
    background: #fafafa;
    padding: 15px;
    margin-top: 20px;
}

#contacto h3{
    margin-bottom: 10px;
    font-size: 15px;
}

#form label{
    margin-bottom:10px ;
    color: #fafafa
}

#form{
    background: #24303c;
    margin-top:20px;
    border-radius: 6px;
    padding: 15px;
}

#motivo, #email, #telefono, #nombre{
    background: #e0e0e0;
    display: block;
    padding:7px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #1f53c5;
    margin-bottom: 8px;
    margin-top:8px;
    font-size: 15px;
}

#btn-email {
    width: 100%;
    padding:10px;
    cursor: pointer;
    border: none;
    background: #1f53c5;
    color: #fafafa;
    font-weight: bold;
}

#btn-email:hover{
    background: #33a54f;
}

#btn-email:disabled {
    background: #1f53c5;
    cursor: not-allowed;
    opacity:50%;
    pointer-events: all !important;
}

/* SPINNER */
.sk-chase {
    margin: 25px auto 25px auto;
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
    100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    } 100%, 0% {
        transform: scale(1.0);
    }
}

/* END SPINNER */


/* Toast Message */
.toast {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    padding: 10px;
    background: #cccccc;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border-radius: 20px;
    box-shadow:  0 0 10px rgb(51 47 151);
    color: #fafafa;

}

.success {
    background: #00c02b;
}

.error {
    background: #ea5252;
}








/* END CONTACT FORM */


/* FOOTER */

/* END FOOTER */

/* RESPONSIVE DESIGN */
@media (min-width:900px) {
    a:hover {
    transition: all 0.35s;
    font-weight: bold;
    transform: scale(1.25);
    color: #ffb600;
    text-shadow: 1px 1px 3px #ff4800;
    }

    .pages{
        width:47%;
        font-size: 2.55vh;
    }

    .social-media{
        width:25%;
        font-size: 3.55vh;
    }


    h1{
        font-size:8vh;
    }

    h2{
        font-size:4vh
    }

    #nosotros {
        min-height:300px;
    }

    #nosotros p {
        font-size:25px;
        line-height: 60px;
    }

    #contacto h3{
        font-size:25px;
        padding: 16px 10px 10px 10px;
    }


    #contacto{
        margin: 18%;
    }

    #form label{
        font-size: 23px;

    }

    #form{
        padding: 6%;
        box-shadow: 5px 20px 30px rgb(0 47 56);
    }

    #motivo, #email, #telefono, #nombre{
        font-size: 18px;
        margin: 15px auto 38px auto;
    }


    #btn-email{
        display: flex;
        justify-content: center;
        margin: auto;
        padding:1.5%;
        width:28%;
        font-size:20px;
        border-radius:20px;
    }
}