@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html,
body {
    scroll-behavior: smooth;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(15, 15, 15, 1) 38%, rgba(0, 212, 255, 1) 100%);
    /* background: hsla(221, 45%, 73%, 1);

    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1); */


    /* background: hsla(41, 100%, 70%, 1);

    background: linear-gradient(90deg, hsla(41, 100%, 70%, 1) 0%, hsla(7, 76%, 47%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(41, 100%, 70%, 1) 0%, hsla(7, 76%, 47%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(41, 100%, 70%, 1) 0%, hsla(7, 76%, 47%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFCF67", endColorstr="#D3321D", GradientType=1);
 */









    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* Animación */
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} */
/* end Animación */



/*--- Header ---*/

header {
    margin: auto;
    height: 100vh;
}


h1 {
    font-family: 'Rock Salt', cursive;
    text-shadow: 4px 5px 4px #800e13;
    margin-top: auto !important;
    padding-top: 50px;
    padding-bottom: 0;
    cursor: pointer;

    font-size: 1.5em !important;
    font-weight: bold;
    color: #fafafa;
}

.pages {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 25%;
}

.social-media {
    display: flex;
    margin: 50px auto 0 auto;
    justify-content: space-between;
    width: 9%;
    font-size: 1.3em;
}

a {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: #59a9ff;
}

a:hover {
    transition: all 0.35s;
    font-weight: bold;
    text-decoration: none;
    transform: scale(1.25);
    color: #ffb600;
    text-shadow: 1px 1px 3px #ff4800;
}

/* slider */

.container-slider {
    height: 50%;
    border-radius: 15px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px !important;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(5, 4, 4, 1), 0 10px 80px;
}

/* limita el tamaño de las imagenes
el porcentaje del ancho es proporcional a la
cantidad de imagenes que deseamos utilizar.
display flex para ponerlas una al lado de la otra */
.slider {
    display: flex;
    height: 550px;
    width: 400%;
    margin-left: -100%;

}

.slider-section {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end slider */

/* end header */


/*--- Main ---*/

h2 {
    color: #fafafa;
}

#nosotros {
    /* background-color: rgb(2 3 51 / 80%); */
    /* display: none; */
    border: 1px solid black;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(15, 15, 15, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

/* #nosotros:target{
    display:block;
} */



.wiki {
    padding: 0.3in;
    color: #fafafa;
}

p {
    margin: 13px auto;
}

/*--- end Main ---*/

/*--- Contacto ---*/

#contacto {
    height:100vh;
    padding: 50px;
    background-color: #fafafa;
}

.form {
    font-size: 20px;
    margin: 2em auto 2em auto;
    display: table;
    background-color: rgb(5 10 64 / 72%);
    color: #fafafa;
    padding: 20px;
    box-shadow: 0 5px 8px 2px #392b2b;
}

span {
    padding-bottom: 100px;
}

#btn-email {
    margin: auto;
    width: 100%;
}

#btn-email:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}



.valFallida {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px red;
}

.valExitosa {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 4px rgb(13, 255, 0);
}

/*--- end Contacto ---*/


/*--- Footer ---*/

footer {
    height: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000ca;
    color: #fafafa;
    text-align: center;
}


/* Responsive Design */

@media (min-width:900px) {

    /* header */
    h1 {
        font-size: 3.5em !important;
    }

    /* slider */
    .container-slider {
        height: fit-content;
    }

    /*end slider*/
    /* end header */

    /* Main */
    .wiki {
        text-align: justify;
        padding: 0in 0.8in 0.8in 0.8in;
    }

    h2 {
        padding: 0.5in 0.3in 0.3in 0.3in;
    }

    /* end main */

    /* Contacto */
    /* end Contacto */
}