/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(15, 15, 15, 1) 38%, rgba(0, 212, 255, 1) 100%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    margin: auto;
    width: 90vw;
}


/* HEADER */

header{
    height: 100vh;
}

/* Animación para H1*/
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

h1{
    font-family: 'Rock Salt', cursive;
    text-shadow: 4px 5px 4px #800e13;
    cursor: pointer;
    font-weight: bold;
    color: #fafafa;
}

.pages {
    display: flex;
    margin: 40px auto 0 auto;
    justify-content: space-between;
    font-size: 15px;
    width: 60%;
}

.social-media {
    display: flex;
    margin: 30px auto 0 auto;
    justify-content: space-between;
    width: 50%;
    font-size: 23px;

}

a {
    font-weight: bold;
    color: #59a9ff;
    font-size: 1em;
    text-decoration: none;
}


/* slider */

.container-slider {
    height: 50%;
    border-radius: 15px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px !important;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(5, 4, 4, 1), 0 10px 80px;
}

/* limita el tamaño de las imagenes
el porcentaje del ancho es proporcional a la
cantidad de imagenes que deseamos utilizar.
display flex para ponerlas una al lado de la otra */
.slider {
    display: flex;
    height: 550px;
    width: 400%;
    margin-left: -100%;

}

.slider-section {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end slider */

/* END HEADER */

/* MAIN */
main{
    color: #fafafa;
    min-height:100vh;
}

h2 {
    color: #fafafa;
}

#nosotros {
    padding-top:13px;
}

#nosotros p {
    padding-top: 7px;
    font-size:14px;
    line-height: 20px;
}
/* END MAIN */



/* CONTACT FORM */
#contacto{
    min-height: 100vh;
    background: #fafafa;
    padding: 15px;
    margin-top: 20px;
}

#contacto h3{
    margin-bottom: 10px;
    font-size: 15px;
}

#form label{
    margin-bottom:10px ;
    color: #fafafa
}

#form{
    background: #24303c;
    margin-top:20px;
    border-radius: 6px;
    padding: 15px;
}

#motivo, #email, #telefono, #nombre{
    background: #e0e0e0;
    display: block;
    padding:7px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #1f53c5;
    margin-bottom: 8px;
    margin-top:8px;
    font-size: 15px;
}

#btn-email {
    width: 100%;
    padding:10px;
    cursor: pointer;
    border: none;
    background: #1f53c5;
    color: #fafafa;
    font-weight: bold;
}

#btn-email:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}


/* END CONTACT FORM */


/* FOOTER */

/* END FOOTER */

/* RESPONSIVE DESIGN */
@media (min-width:900px) {
    a:hover {
    transition: all 0.35s;
    font-weight: bold;
    transform: scale(1.25);
    color: #ffb600;
    text-shadow: 1px 1px 3px #ff4800;
}
}